.dropdown {
  $icon_color: #666;

  i.fa.fa-times {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 14px 10px;
    color: $icon_color;

    &:hover { color: lighten($icon_color, 40%); }
  }
}